@import "../../styles/colors.scss";

.header {
  display: flex;
  align-content: center;
  justify-content: center;
  background: darkgray;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  margin-bottom: 3rem;
  menu {
    display: flex;
    padding: 0;
    li {
      display: flex;
      list-style: none;
      padding: 1rem 3rem;
      border-radius: 0.5rem;
      margin: 0 0.5rem;
      background: lightgray;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      font-size: 1.6rem;
      color: white;
      &.active {
        color: $black;
      }
      a {
        text-decoration: none;
        font-family: "MontserratAlternates";
        &.active {
          color: $black;
        }
      }
    }
  }
}
